{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
  <body id="page-top">

    {{include('_layout/admin/_nav.html.twig')}}
    <div id="wrapper">

      <!-- Sidebar -->
      {{include('_layout/admin/_siderbar.html.twig')}}

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{path('operateur_home')}}">Dashboard</a>
            </li>
            <li class="breadcrumb-item ">
              <a href="{{path('historique_operateur_transfert')}}">transferts </a>
            </li>
            <li class="breadcrumb-item active">{{transfert.nomBeneficiaire}} {{transfert.nomExpediteur}}</li>
          </ol>

          <!-- les tarifs -->
            <center><h2> Détail d'un transfert </h2></center> <br>
            <div class="row ">  
              <div class="col-md-12">
                <table class="table table-bordered table-Primary">
                  <tbody>
                     <tr>
                        <th scope="col" colspan="2"> <center>Informations Expediteur </center></th>
                        <th scope="col" colspan="2"> <center>Informations Beneficiaire </center></th>
                    </tr>
                    <tr>
                        <th scope="col">Nom</th>
                        <td scope="col"> {{transfert.nomExpediteur}} </th>
                        <th scope="col">Nom</th>
                        <td scope="col">{{transfert.nomBeneficiaire}} </th>
                    </tr>
                    <tr>
                        <th scope="col">Prenom</th>
                        <td scope="col"> {{transfert.prenomBeneficiaire}} </th>
                        <th scope="col">Prenom</th>
                        <td scope="col"> {{transfert.prenomBeneficiaire}} </th>
                    </tr>
                    <tr>
                        <th scope="col">Phone</th>
                        <td scope="col"> {{transfert.phoneExpediteur}} </th>
                        <th scope="col">Phone </th>
                        <td scope="col">{{transfert.phoneBeneficiaire}} </th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="4"> <center>Informations opération </center></th>
                    </tr>
                    <tr>
                        <th scope="col" > Code</th>
                        <td scope="col"> {{transfert.codeTransfert}} </th>
                        <th scope="col" > Montant</th>
                        <td scope="col"> {{(transfert.montant + transfert.tarif.tarifClient) | number_format}} FCFA </th>
                    </tr>
                     <tr>
                        <th scope="col" > Tarif</th>
                        <td scope="col">{{ transfert.tarif.tarifClient}} FCFA </th>
                        <th scope="col" > Montant reçu</th>
                        <td scope="col"> {{transfert.montant | number_format}} FCFA </th>
                    </tr>
                     <tr>
                        <th scope="col" > Date</th>
                        <td scope="col">{{ transfert.dateTransfert | format_datetime(locale='fr')}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div> 
         
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
       {{include('_layout/_footer.html.twig')}}

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {{include('_layout/_logout_modal.html.twig')}}

   

  </body>
{% endblock %}
