{% extends 'base_home.html.twig' %}
{% block stylesheets %}
<link href="{{asset('security/login.css')}}" rel="stylesheet">

 {# <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">  #}

{% endblock %}
   
{% block body %}
 {# <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{path('accueil')}}" class="logo d-flex align-items-center">
        <img src="{{asset('accueil/img/logo.png')}}" alt="">
        <span>SendMoney</span>
      </a>

    </div>
  </header><!-- End Header --> #}
 <!-- login start -->
<div class="container register">
    <div class="row" id="carree">
        <div class="col-md-3 register-left">
            <img src="{{asset('accueil/img/image_login.jpg')}}" alt="" />
            <h3>Welcome</h3>
            <p>Cette espace est réservée uniquement aux utilisateurs</p>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane show active" id="login" >
                    <h3 class="register-heading">Login</h3>
                    {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                    {% endif %}
                    <form method="post">
                        <div class="form-group col-md-7">
                            <i class="fa fa-envelope-o"></i>
                            <input type="email" value="{{ last_username }}" name="email" required="required" class="form-control" placeholder="Email" value="" />
                        </div>
                        <br>
                        <div class="form-group col-md-7">
                            {# <i class="fa fa-lock"></i> #}
                            <input type="password" name="password" required="required" class="form-control" placeholder="Password " value=""/>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <br>
                        <div class="form-group col-md-3">
                          <center>  <button class="btn btn-primary btn-block" type="submit">Connexion</button></center>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </div>
</div>
{% endblock %}