<div class="modal fade bd-example-modal-xl" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imprimer le reçu du dataTransfert</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" >
        
                <div class="container">
                    <div class="row ">  
                        <table class="table">
                            <thead >
                                <tr class="thead">
                                    <th class="logo">S-Money</th><th class="date">Date:  {{dataTransfert[0].dateTransfert | date("d/m/Y")}}</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="titre">Information d'expediteur</td>
                                <td class="titre">Information du dataTransfert</td>
                            </tr>
                            <tr>
                                <td>
                                    <ul>
                                        <li> -Prénom : {{dataTransfert[0].prenomExpediteur |upper}}</li>
                                        <li> -Nom : {{dataTransfert[0].nomExpediteur |upper}}</li>
                                        <li> -Téléphone : {{dataTransfert[0].phoneExpediteur}}</li>

                                    </ul>
                                </td>
                                    <td rowspan="3" class="infoTrans">
                                        <ul>
                                            <li> -Montant : {{dataTransfert[0].montant | number_format}} FCFA</li>
                                            <li> -Tarif : {{dataTransfert[0].tarif.tarifClient | number_format}} FCFA</li>
                                            <li> -Montant reçu : <b> {{(dataTransfert[0].montant - dataTransfert[0].tarif.tarifClient) | number_format}} FCFA</b></li>
                                            <li> -Code : <b> {{dataTransfert[0].codeTransfert}}</b></li>
                                            <li> -Nom agence : {{dataTransfert[0].user.agence.nomAgence |capitalize}}</li>
                                            <li> -N° Agence : {{dataTransfert[0].user.agence.numeroAgence}}</li>        
                                            <li>
                                                <div class="signature">-Signature:</div>
                                            </li>
                                        </ul>
                                    </td>
                            </tr>
                                <tr>
                                
                                    <td class="titre">Information bénéficiaire</td>     
                            </tr>
                                <tr>
                                <td>
                                    <ul>
                                        <li> -Prénom : {{dataTransfert[0].prenomBeneficiaire |upper}}</li>
                                        <li> -Nom : {{dataTransfert[0].nomBeneficiaire |upper}}</li>
                                        <li> -Téléphone :{{dataTransfert[0].phoneBeneficiaire}}</li>

                                    </ul>
                                </td>     
                            </tr>
                        </table>
                    </div>   
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Non</button>
                <a class="btn btn-danger" href="{{path('pdf_recuTransfert')}}">Oui</a>
            </div>
        </div>
   </div>
</div>