<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <style>
            .container{
                margin-left: 100px;
                margin-top: 50px;
            }
            .table{
                border: 1px solid black;
                width: 70%;

            }
            .table .thead{
                border-bottom: 1px solid black;
               
            }
            .table ul{
                list-style-type: none;
                padding: 0;
                margin:0
            }
             .date{
                text-align: right;
            }
            .logo{
                text-align: left;
            }
            .signature{
                text-decoration: underline;
            }
            td{
                padding: 12px;
                border: 1px solid black;
            }
            .infoTrans{
                border-left: 11px black;
                
            }
            .tr td{
                text-indent: 50%;
                font-size: 100px;
            }
            .titre{
                text-align: center;
                font-size: 25px;
            }
            ul li{
                padding: 10px;
            }
        </style>
        <meta charset="UTF-8" >
    {% endblock %}
</head>

{% block body %}
 {# <pre>
     {{ dump(transfert) }}
 </pre> #}
<div class="container">
    <div class="row ">  
        <table class="table">
            <thead >
                <tr class="thead">
                     <th class="logo">S-Money</th><th class="date">Date:  {{transfert[0].dateTransfert | date("d/m/Y")}}</th>
                </tr>
            </thead>
        
            <tr>
                <td class="titre">Information d'expediteur</td>
                <td class="titre">Information du transfert</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li> -Prénom : {{transfert[0].prenomExpediteur |upper}}</li>
                        <li> -Nom : {{transfert[0].nomExpediteur |upper}}</li>
                        <li> -Téléphone : {{transfert[0].phoneExpediteur}}</li>

                    </ul>
                </td>
                    <td rowspan="3" class="infoTrans">
                        <ul>
                            <li> -Montant : {{(transfert[0].montant + transfert[0].tarif.tarifClient) | number_format}} FCFA</li>
                            <li> -Tarif : {{transfert[0].tarif.tarifClient | number_format}} FCFA</li>
                            <li> -Montant reçu : <b> {{transfert[0].montant | number_format}} FCFA</b></li>
                            <li> -Code : <b> {{transfert[0].codeTransfert}}</b></li>
                            <li> -Agence : {{transfert[0].user.agence.nomAgence |capitalize}}</li>
                            <li>
                                <div class="signature">-Signature:</div>
                            </li>
                        </ul>
                    </td>
            </tr>
                <tr>
                
                    <td class="titre">Information bénéficiaire</td>     
            </tr>
                <tr>
                <td>
                    <ul>
                        <li> -Prénom : {{transfert[0].prenomBeneficiaire |upper}}</li>
                        <li> -Nom : {{transfert[0].nomBeneficiaire |upper}}</li>
                        <li> -Téléphone :{{transfert[0].phoneBeneficiaire}}</li>

                    </ul>
                </td>
                    
            </tr>
        </table>
                   
    
    </div>   
</div>

{% endblock %}
</html>
