<ul class="sidebar navbar-nav navbar-dark bg-light">
  <li class="nav-item"> 
    <a class="nav-link " href="{{path('admin_home')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>tableau de bord</span>
    </a>
  </li>
  
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
      </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">Login Screens:</h6>
      <a class="dropdown-item" href="{{path('app_login')}}">Login</a>
      {# <a class="dropdown-item" href="register.html">Register</a>
      <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Other Pages:</h6>
      <a class="dropdown-item" href="/404">page 404</a>
      <a class="dropdown-item" href="/page-blanche">Page blanche</a> #}
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{path('virment_list')}}">
    <i class="fas fa-box"></i>
    <span>Virements d'argent</span></a>
  </li>
  {# <li class="nav-item">
    <a class="nav-link" href="/admin/depense">
    <i class="fas fa-external-link-square-alt"></i>
    <span>Dépenses</span></a>
  </li> #}
  <li class="nav-item">
    <a class="nav-link" href="{{path('create_actionSeuilTransfert')}}">
    <i class="fas fa-archive"></i>
    <span>Seuil de transfert</span></a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-globe-africa"></i>
      <span>Villes</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">La liste:</h6>
      <a class="dropdown-item" href="{{path('ville_list')}}">villes</a>
      <h6 class="dropdown-header">formulaire:</h6>
      <a class="dropdown-item" href="{{path('create_actionVille')}}">Ajouter</a>
      
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-home"></i>
      <span>Agence</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">La liste:</h6>
      <a class="dropdown-item" href="{{path('agence_list')}}">agences</a>
      <h6 class="dropdown-header">formulaire:</h6>
      <a class="dropdown-item" href="{{path('create_actionAgence')}}">Ajouter</a>
      
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-users"></i>
        <span>Utilisateurs</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown" >
      <h6 class="dropdown-header">listes:</h6>
      <a class="dropdown-item" href="{{path('users_list')}}">Utilisateurs </a>
      {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">formualires:</h6>
        <a class="dropdown-item" href="{{path('create_ActionUser')}}">Ajouter </a>
      {% endif %}
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-database"></i>
      <span>Compte Bancaire</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">La liste:</h6>
      <a class="dropdown-item" href="{{path('compte_list')}}">Comptes </a>
      <h6 class="dropdown-header">formulaire:</h6>
      <a class="dropdown-item" href="{{path('create_actionCompte')}}">Ajouter</a>
      
    </div>
  </li>
  {# <li class="nav-item">
    <a class="nav-link active" href="/admin/statistique">
    <i class="fas fa-poll"></i>
    <span>Statistique</span></a>
  </li> #}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-server"></i>
      <span>Historique </span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">Listes Operations</h6>
      <a class="dropdown-item" href="{{path('historique_admin_transfert')}}">Transferts</a>
      <a class="dropdown-item" href="{{path('historique_admin_retrait')}}">Retaits</a>
   </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-euro-sign"></i>
      <span>Plan tarifaire</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">La liste:</h6>
      <a class="dropdown-item" href="{{path('tarifs_list')}}">tarifs</a>
      <h6 class="dropdown-header">formulaire:</h6>
      <a class="dropdown-item" href="{{path('create_actionTarif')}}">Ajouter</a> 
    </div>
  </li>
  {# <li class="nav-item">
    <a class="nav-link" href="/admin/archive">
    <i class="fas fa-archive"></i>
    <span>Archive</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/help">
    <i class="far fa-question-circle"></i>
      <span>Journal systeme</span></a>
  </li> #}
</ul>