{% extends 'base_home.html.twig' %}

{% block title %}Agence | S-Money{% endblock %}
{% block stylesheets %}

 
    <!-- Bootstrap core CSS -->
    {# <link href="{{asset('accueil/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"> #}

    <!-- Custom styles for this template -->
    <link href="{{asset('accueil/css/simple-sidebar.css')}}" rel="stylesheet">
{% endblock %}
    
{% block body %}
  <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        {% include "accueil/sidebar.html.twig" %}
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{path('accueil')}}">Accueil</a>
            </li>
            <li class="breadcrumb-item active">agence</li>
          </ol>
          <h4> <center> Rechercher des agences </center> </h4> <br>
         
        <div class="container">
             <form method="get">
                 <div class="row">
                    <div class="col-4">
                        <input type="text" class="form-control" name="ville" id=""  placeholder="">
                        <small id="helpId" class="form-text text-muted">taper la ville</small>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary"> Rechercher</button>
                    </div>
                    
                </div>
            </form>
            <div class="row">
              <div class="col-6"> 
                {% if villes is empty and null != param %}
                  <div class="alert alert-danger"> À {{param | title}}, on a pas encore d'agence. Veuillez entrer une autre villle !!!</div>
                {% else %} 
                  <ul>
                    {% for ville in villes %}
                      <li>{{ville.libelle}}</li>
                          {% for agence in ville.agence %}
                            {% if null != agence.nomAgence %}
                              <b>addresse :</b> {{agence.adresse}},<b> Agence :</b> {{agence.nomAgence}} <br>
                              {% else %}
                                <b style="color:red"> Aucune agence trouvée </b>
                            {% endif %} 
                          {% endfor %}
                        
                    {% endfor %}
                 </ul>
                {% endif %}
             </div>
            </div>
         </div>
        </div>
    </div>
        <!-- /#page-content-wrapper -->
  </div>
 
{% endblock %}













