<footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="{{asset('images/logo.png')}}" alt="">
              <span>S-Money</span>
            </a>
            <p>
              c'est une entreprise d'origine Sénégal du secteur des paiements, 
              spécialisée dans les transferts d'argent national pour les particuliers et 
              les entreprises.
            </p>
            {# <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
            </div> #}
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>LIENS UTILES</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="{{path('accueil')}}">Accueil</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{path('accueil_help')}}">Aide</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{path('accueil_about')}}">À propos</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Nos Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="{{path('accueil_agent')}}">Devenir Agent</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{path('accueil_transfert')}}">Transfert</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{{path('accueil_retrait')}}">Retrait</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>NOUS CONTACTER</h4>
            <p>
              camp Sékou Mballo, <br> Adresse: Liberté 6 Extension, Lot n°10 en face, <br>
               Dakar <br><br>
              <strong>Phone:</strong> 33 827 56 11<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2021</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developper par IBRAHIM AHAMADA M'SA && ABDOULAY SADIO 
      </div>
    </div>
  </footer><!-- End Footer -->