 <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{path('accueil')}}" class="logo d-flex align-items-center">
        <img src="{{asset('accueil/img/logo.png')}}" alt="">
        <span>SendMoney</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active " href="{{path('accueil')}}"><i class="fas fa-home icon"></i></a></li>
          <li><a class="nav-link scrollto" href="{{path('accueil_transfert')}}">Transfert</a></li>
          <li><a class="nav-link scrollto" href="{{path('accueil_retrait')}}">Retrait</a></li>
          <li><a class="nav-link scrollto" href="{{path('accueil_help')}}">Aide</a></li>
          <li><a class="nav-link scrollto" href="{{path('accueil_about')}}">About</a></li>
          <li><a class="nav-link scrollto" href="{{path('accueil')}}#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="{{path('app_login')}}">Connexion</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->