{% extends 'base_home.html.twig' %}

{% block title %}Accueil | S-Money{% endblock %}

{% block body %}
     <!-- ======= Header ======= -->
  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">La meilleure plateforme de transferts d'argent au Sénégal </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Nous sommes fiers d'offrir à nos clients la meilleure expérience en matière de transfert d'argent national.</h2>
          {# <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Commencer</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div> #}
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{asset('accueil/img/monument-senegal.jpg')}}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    {{include('accueil/service.html.twig')}}
    <!-- ======= About Section ======= -->
   
    <!-- End About Section -->

    <!-- ======= Values Section ======= -->
   <!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{(transferts | length )+(retraits | length)}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clients satisfaits</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-home" style="color: #ee6c20;"></i>  
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{agences | length}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Agences</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
             <i class="fas fa-city" style="color: #15be56;"></i> 
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{villes | length}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Villes (Sénégal)</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{ agents | length}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Agents</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    {# {{include('accueil/service.html.twig')}} #}
    <!-- End Services Section -->

    
    <!-- ======= F.A.Q Section ======= -->
    <!-- End F.A.Q Section -->

    <!-- ======= Portfolio Section ======= -->


    <!-- ======= Testimonials Section ======= -->
    
    <!-- ======= Team Section ======= -->
  

    <!-- ======= Clients Section ======= -->
    

    <!-- ======= Recent Blog Posts Section ======= -->
    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contactez-Nous</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-12">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Adresse</h3>
                  <p>Liberté 6 Extension, Lot n°10 en face,<br>Dakar, SENEGAL</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Numéros de tétéphone</h3>
                  <p>+221 77 823 63 34<br>+221 76 228 89 83</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email</h3>
                  <p>ibrahimahamada001a@gmail.com<br>abdalahsadio98@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Les heurs d'ouvertures</h3>
                  <p>Lundi - Samedi<br>9h:00min - 17h:00min</p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% block js %}
 <script type="text/javascript">

</script>
{% endblock %}
{% endblock %}