  <!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <!-- <div class="sidebar-heading">Start Bootstrap </div> -->
  <div class="list-group list-group-flush">
    <a href="{{path('accueil')}}" class="list-group-item list-group-item-action bg-light">Accueil</a>
    <a href="{{path('accueil_transfert')}}" class="list-group-item list-group-item-action bg-light">Transfert</a>
    <a href="{{path('accueil_retrait')}}" class="list-group-item list-group-item-action bg-light">Retrait</a>
    <a href="{{path('accueil_tarif')}}" class="list-group-item list-group-item-action bg-light">Tarifs</a>
    <a href="{{path('accueil_agence')}}" class="list-group-item list-group-item-action bg-light">Agence</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">A propos</a>
  </div>
</div>  <!-- /#sidebar-wrapper -->
