<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu !{% endblock %}</title>
        <!-- Favicons -->
        <link href="{{asset('accueil/img/favicon.png')}}" rel="icon">
        <link href="{{asset('accueil/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        {# <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> #}

        <!-- Vendor CSS Files -->
        <link href="{{asset('accueil/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('accueil/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
        <link href="{{asset('accueil/vendor/aos/aos.css')}}" rel="stylesheet">
        <link href="{{asset('accueil/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
        <link href="{{asset('accueil/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
        <link href="{{asset('accueil/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
        <link href="{{asset('/admin/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">

        <!-- Template Main CSS File -->
        <link href="{{asset('accueil/css/style.css')}}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="100">
        {{include('accueil/header.html.twig')}}
        {% block body %}{% endblock %}
        {{include('accueil/footer.html.twig')}}
        <!-- Vendor JS Files -->
    <script src="{{asset('accueil/vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{asset('accueil/vendor/aos/aos.js')}}"></script>
    <script src="{{asset('accueil/vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{asset('accueil/vendor/purecounter/purecounter.js')}}"></script>
    <script src="{{asset('accueil/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{asset('accueil/vendor/glightbox/js/glightbox.min.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{asset('accueil/js/main.js')}}"></script>
    
        {% block javascripts %}{% endblock %}
    </body>
</html>