{% extends 'base.html.twig' %}

{% block title %}la liste des comptes | S-Money{% endblock %}

{% block body %}
  <body id="page-top">
       {{include('_layout/admin/_nav.html.twig')}}
    <div id="wrapper">

      <!-- Sidebar -->
      {{include('_layout/admin/_siderbar.html.twig')}}

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{path('admin_home')}}">Accueil</a>
            </li>
            
            <li class="breadcrumb-item active">liste</li>
          </ol>
        
          <!-- les tarifs -->
            <center><h2> Liste des comptes des utilisteurs </h2></center>
            <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              List des comptes</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>N° de compte</th>
                      <th>Status</th>
                      <th>solde</th>
                      <th>date de création</th>
                      <th>utilisateur</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                  <tr>
                      <tr>
                      <th>N° de compte</th>
                      <th>Status</th>
                      <th>solde</th>
                      <th>date de création</th>
                      <th>utilisateur</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for compte in comptes %}
                    <tr>
                      <td>{{compte.numeroCompte}}</td>
                      <td>
                        {% if null != compte.user %}
                           {% if compte.user.roles[0] =='ROLE_SUPER_ADMIN' %}
                              Super Admin
                              {% else %}
                                {% if compte.user.roles[0] =='ROLE_OPERATEUR' %}
                                  Agent
                                  {% else %}
                                    Employé
                              {% endif %}
                                  
                          {% endif %}
                          {% else %}
                            Ce compte n'a pas d'utilisateur
                        {% endif %}
                        
                         
                      </td>
                      <td>{{compte.solde}} FCFA</td>
                      <td>{{compte.date | date('d/m/Y')}}</td>
                      <td>
                      {% if null != compte.user %}
                       <a href='{{path('user_show',{'id':compte.user.id})}}'>{{compte.user}} </a></td>
                        {% else %}
                           Ce compte n'a pas d'utilisateur
                      {% endif %}
                      <td>    
                        {# <a href='{{path('update_ActionCompte',{'id':compte.id})}}'><button type="button" class="btn btn-primary"><i class="far fa-edit"></i></button><a> #}
                        <a href='#'><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="far fa-trash-alt"></i></button><a>
                        {% include "compte_bancaire/delete_modale.html.twig" %}
                      </td>
                  </tr>
                  {% endfor %}
                  
                  
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Date et l'heure du jour {{'now' | date("d/m/Y  H:m:s")}}</div>
          </div>
         
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        {{include('_layout/_footer.html.twig')}}

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{include('_layout/_logout_modal.html.twig')}}

  </body>
{% endblock %}

