{% extends 'base.html.twig' %}

{% block title %}Hello AgenceController!{% endblock %}

{% block body %}
  <body id="page-top">
       {{include('_layout/admin/_nav.html.twig')}}
    <div id="wrapper">

      <!-- Sidebar -->
      {{include('_layout/admin/_siderbar.html.twig')}}

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/admin">Dashboard</a>
            </li>
          
            <li class="breadcrumb-item active">agences</li>
          </ol>
        
          <!-- les tarifs -->
            <center><h2> List des agences des operateurs </h2></center>
            <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              List des agences</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>adresse</th>
                      <th>agence</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                  <tr>
                      <tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>adresse</th>
                      <th>agence</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% if agences is empty %}
                    <h4>Aucun utilisateur enregistre </h4>
                  {% else %}
                    {% for agence in agences %}
                       <tr>
                       <td>#{{agence.id}}</td>
                        <td>{{agence.nomAgence}}</td>
                        <td>{{agence.adresse}}</td>
                        <td>{{agence.ville}}</td>
                        
                        <td>
                            <a href='{{path('agence_show',{'id':agence.id})}}'><button type="button" class="btn btn-info">Voire</button><a>
                            <a href='{{path('update_ActionAgence',{'id':agence.id})}}'><button type="button" class="btn btn-primary">Modifier</button><a>
                            <a href='{{path('agence_delete',{'id':agence.id})}}'><button type="button" class="btn btn-danger">supprimer</button><a>
                        </td>
                     </tr>
                    {% endfor %}
                    
                  {% endif %}
                      
                 
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated {{'now' | date("m/d/Y  H:m:s")}}</div>
          </div>
         
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        {{include('_layout/_footer.html.twig')}}

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{include('_layout/_logout_modal.html.twig')}}

  </body>
{% endblock %}
