{% extends 'base.html.twig' %}

{% block title %}Les agences | S-Money{% endblock %}

{% block body %}
  <body id="page-top">
       {{include('_layout/admin/_nav.html.twig')}}
    <div id="wrapper">

      <!-- Sidebar -->
      {{include('_layout/admin/_siderbar.html.twig')}}

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{path('admin_home')}}">Accueil</a>
            </li>
          
            <li class="breadcrumb-item active">agences</li>
          </ol>

          <!-- les tarifs -->
            <center><h2> List des agences des operateurs </h2></center>
            <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              List des agences</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th>Nom de l'agence</th>
                      <th>adresse</th>
                      <th>Ville</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                  <tr>
                      <tr>
                      <th>N°</th>
                      <th>Nom de l'agence </th>
                      <th>adresse</th>
                      <th>Ville</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% if agences is empty %}
                    <h4>Aucun utilisateur enregistre </h4>
                  {% else %}
                    {% for agence in agences %}
                       <tr>
                       <td>{{agence.numeroAgence}}</td>
                        <td>{{agence.nomAgence}}
                          {% if null != agence.user %}
                             {% for user in agence.user %}
                              <ul>
                              <li><a href='{{path('user_show',{'id':user.id})}}'>{{user.prenom}} {{user.nom}}</a></li>
                              </ul>
                            {% endfor %}
                          {% endif %}   
                        </td>
                        <td>{{agence.adresse}}</td>
                        <td>{{agence.ville}}</td>
                        
                        <td>
                            {# <a href='{{path('agence_show',{'id':agence.id})}}'><button type="button" class="btn btn-info"><i class="far fa-eye"></i></button><a> #}
                            <a href='{{path('update_ActionAgence',{'id':agence.id})}}'><button type="button" class="btn btn-primary"><i class="far fa-edit"></i></button><a>
                            <a href='#'><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="far fa-trash-alt"></i></button><a>
                            {% include "agence/delete_modale.html.twig" %}
                        </td>
                     </tr>
                    {% endfor %}
                    
                  {% endif %}
                      
                 
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Date et l'heure du jour {{'now' | date("d/m/Y  H:m:s")}}</div>
          </div>
         
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        {{include('_layout/_footer.html.twig')}}

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{include('_layout/_logout_modal.html.twig')}}

  </body>
{% endblock %}
