{% extends 'base.html.twig' %}

{% block title %}Hello HistoriqueOperateurController!{% endblock %}

{% block body %}
   <body id="page-top">
       {{include('_layout/admin/_nav.html.twig')}}
    <div id="wrapper">

      <!-- Sidebar -->
      {{include('_layout/admin/_siderbar.html.twig')}}

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{path('admin_home')}}">Dashboard</a>
            </li>
            
            <li class="breadcrumb-item active">Retraits</li>
          </ol>
        
          <!-- les tarifs -->
            <center><h2> Liste des retraits </h2></center>
            <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Retraits</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Operateur </th>
                      <th>Nom Agence</th>
                      <th>date de retrait</th>
                      <th>Actions</th>
                    </tr> 
                  </thead>
                  <tfoot>
                  <tr>
                      <th>ID</th>
                      <th>Operateur </th>
                      <th>Nom Agence</th>
                      <th>date de retrait</th>
                      <th>Actions</th>
                    </tr> 
                  </tfoot>
                  <tbody>
                  {% for retrait in retraits %}
                    <tr>
                      <td>{{retrait.user.id}}</td>
                      <td>{{retrait.user.prenom}} {{retrait.user.nom}} </td>
                      <td>{{retrait.user.agence}}</td>
                      <td>{{retrait.dateRetrait | date("Y/m/d")}}</td>
                      <td>
                      <a href='{{path('historique_admin_retrait_show',{'id':retrait.id})}}'><button type="button" class="btn btn-info"><i class="far fa-eye"></i></button><a> 
                      </td> 
                    </tr>
                  {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated {{'now' | date("m/d/Y  H:m:s")}}</div>
          </div>
         
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        {{include('_layout/_footer.html.twig')}}

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{include('_layout/_logout_modal.html.twig')}}

    {% block javascripts %}
      <!-- Bootstrap core JavaScript-->
      <script src="{{asset('admin/vendor/jquery/jquery.min.js')}}"></script>
      <script src="{{asset('admin/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    {% endblock %}
  </body>

{% endblock %}


