{% extends 'base.html.twig' %}

{% block title %}{% if editMode %} Modifier {% else %}Ajouter{% endif %} un utilisateur| S-Money{% endblock %}
{% form_theme formUser 'bootstrap_4_layout.html.twig' %}
{% block body %}
  <body id="page-top">
    {% if is_granted('ROLE_ADMIN') %}
      {{include('_layout/admin/_nav.html.twig')}}
      <div id="wrapper">

        <!-- Sidebar -->
      {{include('_layout/admin/_siderbar.html.twig')}}
      {% else %}
        {% if is_granted('ROLE_OPERATEUR_EMPLOYE') %}
          {{include('_layout/operateur/_nav.html.twig')}}
          <div id="wrapper">

            <!-- Sidebar -->
          {{include('_layout/operateur/_siderbar.html.twig')}}
        {% endif %}
      
    {% endif %}
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{path('admin_home')}}">Accueil</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{{path('users_list')}}">utilisateurs</a>
            </li>
            <li class="breadcrumb-item active"> {% if editMode %} {{user.prenom}} {{user.nom}} {% else %}utilisateur{% endif %} </li>
          </ol>
           <div class="col-12">
              {% for message in app.flashes('succes') %}
              <div class="alert alert-success"> {{message}} </div> 
              {% endfor %}
                  {% for message in app.flashes('danger') %}
              <div class="alert alert-danger"> {{message}} </div> 
              {% endfor %}
          </div>
          <!-- formulaire d'inscription -->
          <center><h2> {% if editMode %}Modifier le compte de {{user.prenom}} {{user.nom}}{% else %}Ajouter un utilisateur{% endif %} </h2> <hr></center>
        {{form_start(formUser,{'method':'POST'})}} 
                <div class="form-row align-items-end">
                    <div class="form-group col-md-6">
                        
                    {{form_row(formUser.prenom, {'label':'Prénom','attr': {'placeholder':"Prénom "}})}}
            
                    </div>
                    <div class="form-group col-md-6">
                        
                    {{form_row(formUser.nom, {'label':'Nom','attr':{'placeholder':"nom"}})}}
            
                    </div>
                </div>
                <div class="form-row align-items-end">
                    <div class="form-group col-md-2">
                        
                    {{form_row(formUser.sex, {'label':'Sex','attr': {'placeholder':"Sex"}})}}
            
                    </div> 
                  
                    <div class="form-group col-md-5">
                        
                    {{form_row(formUser.dateNaiss, {'label':'Date de naissance','attr': {'placeholder':"Date de naissance "}})}}
            
                    </div>
                    <div class="form-group col-md-5">
                        
                    {{form_row(formUser.lieuNaiss, {'label':'Lieu de naissance','attr':{'placeholder':"Lieu de naissance"}})}}
            
                    </div>
                </div>
                 <div class="form-row align-items-end">
                    
                    <div class="form-group col-md-6">
                        
                    {{form_row(formUser.tel, {'label':'Numéro de téléphone (+221 aa bbb cc dd)','attr':{'placeholder':"Exp: +221 77 823 63 34 "}})}}
            
                    </div>
                    <div class="form-group col-md-6">
                        
                    {{form_row(formUser.email, {'label':'Email','attr': {'placeholder':"Email "}})}}
            
                    </div>
                </div>
 

                <div class="form-row align-items-end">
                    <div class="form-group col-md-6">
                        
                    {{form_row(formUser.password.first, {'label':'password','attr': {'placeholder':"password "}})}}
            
                    </div> 
                    <div class="form-group col-md-6">
                        
                    {{form_row(formUser.password.second, {'label':'Confirme password','attr': {'placeholder':"Répété votre mot de pass "}})}}
            
                    </div>
                </div>
                <div class="form-row align-items-end">
                    <div class="form-group col-md-6">
                        
                      {{form_row(formUser.agence, {'label':'Nom de l\'agnece','attr': {'placeholder':"Nom de l\'agnece "}})}}
            
                    </div>
              
                  
                </div>
                <div class="form-row align-items-end">
                
                 <div class="form-group col-md-6">
                      
                  {{form_row(formUser.roles, {'label':'Rôles','attr': {'placeholder':"Choisissez le rôle "}})}}
          
                  </div>
                   <div class="form-group col-md-6">
                      
                  {{form_row(formUser.imageFile, {'label':'votre image'})}}
          
                  </div>
                 
                </div>
 
                <center>
                    <button type="submit" class="btn btn-primary">Inscription</button>
                    <button type="reset" class="btn btn-primary">reset</button>
                </center>
             
            </div>
        {{form_end(formUser)}} 
         
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        {{include('_layout/_footer.html.twig')}}

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{include('_layout/_logout_modal.html.twig')}}
    {% block javascripts %}
    
    {% endblock %}
  </body>
{% endblock %}


